---
Language: Cpp
Standard: c++14
BasedOnStyle: Chromium
IndentWidth: 4
IndentPPDirectives: BeforeHash
ColumnLimit: 120
BreakBeforeBraces: Allman # new line before each braces
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
AlignConsecutiveDeclarations: true
PointerAlignment: Right
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
